page-login {
  img {
      width: 50%;
      height: auto;
      margin: 0 auto;
      max-width: 300px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  ion-button {
    width: 50%;
  }
}
